/**
COLORS:

dark blue: #41437
dark red: #90423

*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #414374; }

.heading-secondary {
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  color: #424370;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.text__heading {
  width: 100%;
  position: absolute;
  top: 20%;
  font-weight: 300;
  z-index: 3;
  left: 5%;
  font-size: 75px;
  color: white; }

.helvetica-animate-words span {
  color: white;
  position: absolute;
  font-weight: 700;
  opacity: 0;
  overflow: hidden;
  width: 100%; }

.helvetica-words {
  display: inline;
  text-indent: 10px; }

.helvetica-words-2 span {
  animation: helveticaAnimation 4.5s ease-in infinite 0s; }

.helvetica-words span:nth-child(2) {
  animation-delay: 1.5s; }

.helvetica-words span:nth-child(3) {
  animation-delay: 3s; }

@keyframes helveticaAnimation {
  0% {
    opacity: 0;
    transform: translateY(10%); }
  4% {
    transform: translateY(0%); }
  10% {
    opacity: 1; }
  31% {
    opacity: 1;
    transform: translateY(0%); }
  35% {
    transform: translateY(-10%); }
  36% {
    opacity: 0; } }

.search-bg {
  width: 80%;
  opacity: 0.8;
  background-color: #404374;
  position: absolute;
  z-index: 3;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 6rem; }

.search-container {
  width: 95%;
  display: block;
  margin: 0 auto; }

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none; }

input#search-bar:focus {
  border: 1px solid #008abf;
  transition: 0.35s ease;
  color: #008abf; }

input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0; }

input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0; }

input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0; }

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -15px; }

.bootom-menu {
  padding-bottom: 1rem; }
  .bootom-menu a {
    text-decoration: none;
    color: #424370; }
  .bootom-menu a:hover {
    text-decoration: none;
    color: #424370; }
  .bootom-menu__logo-box {
    padding-bottom: 1rem; }
  .bootom-menu__logo {
    width: 25%; }
  .bootom-menu__heading {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: serif;
    cursor: pointer; }
  .bootom-menu__heading:link {
    font-weight: 700;
    color: #424370;
    transition: 1s;
    cursor: pointer;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s; }
  .bootom-menu__heading::after {
    content: '';
    display: block;
    width: 0;
    cursor: pointer;
    height: 2px;
    background: #424370;
    transition: width .3s; }
  .bootom-menu__heading:hover::after {
    width: 100%;
    cursor: pointer; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem; }
  .card__side {
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #424370, #904234); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 15rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: url(../img/teach1.jpg); }
    .card__picture--2 {
      background-image: url(../img/teach2.jpg); }
    .card__picture--3 {
      background-image: url(../img/teach3.jpg); }
  .card__heading {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 12rem;
    right: 0rem;
    width: 100%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(66, 67, 112, 0.85), rgba(144, 66, 52, 0.85)); }
  .card__details {
    padding: 0rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1rem;
        padding: 0.7rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #777777; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #ffffff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.main-gallery {
  outline: none !important;
  padding-top: 5rem; }

.gallery-cell {
  width: 100%; }

.testimonial {
  text-align: center;
  max-width: 850px;
  margin: 0 auto 0 auto;
  padding: 0 20px; }

.testimonial-avatar {
  width: 100px;
  border-radius: 50%; }

.testimonial-quote {
  display: block;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  padding: 10px 0; }

.testimonial-author {
  display: block;
  font-weight: 800;
  color: #904234; }

.flickity-page-dots {
  bottom: 25px;
  display: none; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 16px;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: white;
  color: darkgrey; }
  .btn--white::after {
    background-color: white; }

.btn--green {
  background-color: #414374;
  color: white; }
  .btn--green::after {
    background-color: #414374; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 16px;
  color: #414374;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #414374;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #414374;
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.counter {
  text-align: center;
  position: relative; }
  .counter-value {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 1rem; }
  .counter-text {
    color: #9e4039;
    font-weight: 700; }

.events__card {
  border: 1px solid #dcd7d7;
  margin: 0 0.1rem !important;
  background-color: #ffffff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem !important; }

.events-icon {
  padding: 10px 10px 10px 0; }

.events__image-1 {
  height: 15rem;
  background-image: url(../img/event1.jpg);
  background-size: cover;
  background-position: center; }

.events__image-2 {
  height: 15rem;
  background-image: url(../img/event2.jpg);
  background-size: cover;
  background-position: center; }

.events__image-3 {
  height: 15rem;
  background-image: url(../img/exam1.jpg);
  background-size: cover;
  background-position: center; }

.events__image-4 {
  height: 15rem;
  background-image: url(../img/exam2.jpg);
  background-size: cover;
  background-position: center; }

.events__detail {
  height: 15rem;
  padding-top: 1rem; }
  .events__detail--heading {
    margin: 0;
    font-weight: 700;
    color: #424370;
    font-size: 1.2rem; }
  .events__detail--headin-secondary {
    font-weight: 500;
    color: #9e4039; }

.events__date {
  color: white;
  width: 25%;
  height: 5rem;
  text-align: center;
  background-color: #424370; }
  .events__date--month {
    font-size: 1.5rem;
    font-weight: 700;
    color: #9e4039; }
  .events__date--day {
    font-weight: 700;
    color: #ffffff; }

.events__book {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform(-50%, -50%);
  transform: translate(-50%, -50%); }
  .events__book--button {
    background-color: #424370;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    padding: 0 15px 5px;
    opacity: 0; }

.events__card:hover .events__book--button {
  background-color: #424370;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  padding: 0 15px 5px;
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }

.footer--logo {
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 35%;
  padding-bottom: 5px; }

.footer__social-icon {
  text-align: center; }

/*=========================
  Icons
 ================= */
/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }

ul.social-network li {
  display: inline;
  margin: 0 5px; }

/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #F56505; }

.social-network a.icoFacebook:hover {
  background-color: #3B5998; }

.social-network a.icoTwitter:hover {
  background-color: #33ccff; }

.social-network a.icoGoogle:hover {
  background-color: #BD3518; }

.social-network a.icoVimeo:hover {
  background-color: #0590B8; }

.social-network a.icoLinkedin:hover {
  background-color: #007bb7; }

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color: #fff; }

a.socialIcon:hover, .socialHoverClass {
  color: #44BCDD; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px; }

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center; }

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

a {
  background-color: #D3D3D3; }

.footer__contact-us--heading {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff; }

.footer__contact-us--main-ul {
  padding-bottom: 1rem;
  list-style-type: none; }

.footer__contact-us--main-ul > li {
  padding-top: 1rem;
  color: #fff;
  font-weight: 600; }

*
*::after,
*::before {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  color: #414374; }

.logo-box {
  width: 210px;
  height: 50px;
  float: left; }

.logo {
  width: 100%;
  height: auto; }

@media (min-width: 992px) {
  #navbarNav {
    display: table !important; } }

.fixed-top {
  background-color: white !important;
  -webkit-box-shadow: 0px 3px 17px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 17px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 24px -3px rgba(0, 0, 0, 0.75); }

.nav-link:link {
  font-weight: 700;
  color: #414374;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s; }

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #414374;
  transition: width .3s; }

.nav-link:hover::after {
  width: 100%; }

.slider {
  width: 100%;
  height: 95vh;
  background-color: #414374; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%); }

.heading-primary {
  color: #fff; }

.card {
  border: transparent !important; }

.section-partners {
  padding: 5rem 0rem 5rem 0rem; }

.section-bottom-menu {
  padding: 5rem 0rem 0rem 0rem; }

.sections-cours {
  padding: 5rem 0rem 5rem 0rem; }

.section-counter {
  padding: 5rem 0 5rem 0;
  background-color: #424370; }

.section-events {
  padding: 5rem 0rem 5rem 0rem; }

.section-testimonial {
  background-color: #424370;
  padding: 0rem 0rem 5rem 0rem;
  overflow-x: hidden; }

.section-footer {
  background-color: #424370;
  padding: 5rem 0rem 5rem 0rem; }
