/*
COLORS:

dark blue: #41437
dark red: #90423

*/
@import "base/typography";
@import "base/utilities";
@import "components/text-animation";
@import "components/search-input";
@import "components/bottom-menu";
@import "components/card";
@import "components/testimonial";
@import "components/button";
@import "components/counter";
@import "components/events-card";
@import "Layout/footer";


$color-primary: #414374;
$color-primary-second:#904234;
$color-white:#fff;

*
*::after,
*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.7; 
   overflow-x: hidden;
   color: $color-primary;
}



.logo-box{
width: 210px;
height: 50px;
float: left;
}

.logo{
    width: 100%;
    height: auto;
}

@media(min-width:992px){
    #navbarNav{
        display: table !important
    }
}

.fixed-top{
    background-color: white !important;
    -webkit-box-shadow: 0px 3px 17px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 17px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 24px -3px rgba(0,0,0,0.75);
}

.nav-link:link{
   font-weight: 700;
   color: $color-primary;
   transition:1s ;
   -webkit-transition:1s ;
   -moz-transition:1s ;
   -ms-transition:1s ;
   -o-transition:1s ;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $color-primary;
    transition: width .3s;
}
.nav-link:hover::after {
    width: 100%;
}


.slider{
    width: 100%;
    height: 95vh;
    background-color: $color-primary;
}

.text-box{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(50%,50%);
    -webkit-transform: translate(50%,50%);
    -moz-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    -o-transform: translate(50%,50%);
}

.heading-primary{
    color:$color-white;
}

.card{
    border: transparent !important;
}


.section-partners{
    padding: 5rem 0rem 5rem 0rem ;
}

.section-bottom-menu{
    padding: 5rem 0rem 0rem 0rem;
}
//section tours
.sections-cours{
    padding: 5rem 0rem 5rem 0rem ;
}


.section-counter{
    padding: 5rem 0 5rem 0;
    background-color: #424370
}

.section-events{
    padding: 5rem 0rem 5rem 0rem ; 
}

.section-testimonial{
    background-color: #424370;
    padding: 0rem 0rem 5rem 0rem ;  
    overflow-x: hidden;
}

.section-footer{
    background-color: #424370;
    padding: 5rem 0rem 5rem 0rem ;
}

